<div class="about-div">
  <h1>About Us.</h1>
</div>
<div class="text-para">
  <p>Vemacrops Limited is a company in Kenya established in 2020 dealing in Horticulture.
  The farm is situated along the Isinya – Konza road, 18 kilometres from Isinya town in Kajiado County.Kajiado county is a Semi-arid region in which the Maasai pastoral community lives.
  Vemacrops Limited farm sits on an 85 acre piece of land of which 18 hectares is under drip irrigation.
  The farm is connected to electricity and also has solar panels which are used to pump water from the borehole during the day.
  The farm has two boreholes which are our main source of water for irrigation and domestic use.We have water tanks for storing water with the largest having a capacity of 200,000 litres.</p>
</div>
<div class="text-para">
  <h1>Our Crops.</h1>
</div>
<div class="text-para">
  <p>On it’s inception, Vemacrops Limited started with avocado plantation.The project did not perform well due to high Salinity / Sodium levels commonly found in the water from this region.
  We also ventured into Chillies farming with varieties like Long cayenne,Birds eye and Red demon.The chillies performed well and we supplied to the market as green,ripe or dried as per the clients specifications.
  We planted Butternuts as well as Maize which performed fairly well but we couldn’t get immediate market for all the produce as we didn’t have ready clients.
  Late in 2023,we started French beans growing after we acquired a contract from a client.We are doing 3 Acres a Month at the moment with a plan to expand soon.
  We are planning to do Butternut again soon for export once we finalise contract negotiations.
  We strictly adhere to Good Agricultural Practices (G.A.P) procedures to ensure that we provide Farm Produce of high Quality that meet the required standards,trying as much as possible to use Organic products in production.</p>
</div>
<div class="text-para">
  <h1>Empoyees And Welfare.</h1>
</div>
<div class="text-para">
  <p>Vemacrops Limited has a good team of employees employed on Contract basis and Casual basis.The team comprises of both skilled and non-skilled labourers.
  Contracted employees are housed at the Company’s staff houses situated at the farm, free of charge.The houses are installed with electricity and water,with bedding being provided by the company.
  The medical welfare of the employees is paramount and fully equipped first aid kits are available and in case of the need for further medication the company caters for the same.The employees are provided with clean drinking water and on their mid morning break they are provided with porridge.
  During the festivals, the employees are provided with a sheep or goat which they feast together as a team.
In terms of entertainment, the company has installed a Television set for them.They are also provided with a football and a volleyball that they play together during their leisure time.</p>
</div>
<div class="text-para">
  <h1>Farm Garden.</h1>
</div>
<div class="text-para">
  <p>We have a small farm garden measuring an acre that we grow vegetables like kales,spinach,managu,tomatoes, carrots, kunde,cabbage among others in small portions.
  The farm garden produce is for the management team and the employees use only.Employees don’t have to look for vegetables elsewhere as it is readily available for them.</p>
</div>
<div class="text-para">
  <h1>Neighborhood And Involvement In The Community.</h1>
</div>
<div class="text-para">
  <p>Vemacrops Limited values and appreciates the neighbours and we have a cordial relationship.
  Kajiado being a Semi -arid region and the Maasai being a pastoral community, they have difficulties getting water for their cattle.
  Vemacrops provides all the Maasai pastoralist neighbours with water for their livestock free of charge.We also give them the maize stalks whenever we harvest maize for their cattle to feed on.
  We also provide employment to our neighbours as we try to minimise the unemployment problem in the area.This way their livelihood is improved.
  The area’s local administration headed by the chief and the village elder are in constant interaction with us.We involve ourselves in community occasions such as weddings and funerals of which we do attend and also participate in times of fundraising.</p>
</div>
<div class="text-para">
  <h1>Livestock.</h1>
</div>
<div class="text-para">
  <p>We do keep high quality breeds of sheep in our farm that provide us with manure for use in the farm as it is organic.
  We also rear local chicken that provide us with eggs for the management team and the employees.
  An Apiary is also installed at the farm and has a total of 8 beehives at the moment with a plan to increase the number. The bees are essential to the farm as they help in pollination of our crops and in return we get honey from them.</p>
</div>
