<div class="cards">
  <div class="card-trip">
    <img src="https://res.cloudinary.com/dwnjn1x5l/image/upload/v1709625960/fd8ca525-9a2c-4536-95ab-aafc63c9d1dd_lgqtpu.jpg" />

      <div class="card-trip-infos">
      <h1>Avocado</h1>
      </div>
</div>

<div class="card-trip">
  <img src="https://res.cloudinary.com/dwnjn1x5l/image/upload/v1709625952/0b3dd899-d7db-4ba6-bc7b-5bdc801e5b68_agjohk.jpg" />

    <div class="card-trip-infos">
      <h1>Chilli</h1>
      </div>
</div>

<div class="card-trip">
  <img src="https://res.cloudinary.com/dwnjn1x5l/image/upload/v1709625957/bd0f37ff-8ad7-4ff9-b602-f860e1b8231c_jkxf8n.jpg" />

    <div class="card-trip-infos">
      <h1>Dry Shade</h1>
      </div>
</div>

<div class="card-trip">
  <img src="https://res.cloudinary.com/dwnjn1x5l/image/upload/v1709625959/dccb5198-b10f-4084-82be-074c62275197_xa0phg.jpg"/>
    <div class="card-trip-infos">
      <h1>French Beans</h1>
      </div>
</div>
<div class="card-trip">
  <img src="https://res.cloudinary.com/dwnjn1x5l/image/upload/v1709625955/776bc3b1-1e76-4f40-97c5-d87df3c48768_jh3hjd.jpg"/>
    <div class="card-trip-infos">
      <h1>Dorper Sheep</h1>
      </div>
</div>
<div class="card-trip">
  <img src="https://res.cloudinary.com/dwnjn1x5l/image/upload/v1709625952/1d01d8c4-195c-45e7-a2f1-acac7ba9eba0_ch1nf8.jpg"/>
    <div class="card-trip-infos">
      <h1>Extra Fine Beans</h1>
      </div>
</div>
<div class="card-trip">
  <img src="https://res.cloudinary.com/dwnjn1x5l/image/upload/v1709625955/89d39e45-ad60-46e0-a10d-ed1579f065f7_p9r5nu.jpg"/>
    <div class="card-trip-infos">
      <h1>Harvest</h1>
      </div>
</div><div class="card-trip">
  <img src="https://res.cloudinary.com/dwnjn1x5l/image/upload/v1709625952/1d01d8c4-195c-45e7-a2f1-acac7ba9eba0_ch1nf8.jpg"/>
    <div class="card-trip-infos">
      <h1>Extra Fine Beans</h1>
      </div>
</div><div class="card-trip">
  <img src="https://res.cloudinary.com/dwnjn1x5l/image/upload/v1709625115/634486F8-6C92-467D-B78F-C0A4225F61D0_mlk1t5.jpg"/>
    <div class="card-trip-infos">
      <h1>Harvest Bucket</h1>
      </div>
</div>
</div>
