
<div class="row mb-10">
  <div class="d-sm-flex flex-sm-row mb-6">
    <div class="d-md-flex flex-md-row imgbox">

        <div class="imghome"><img src="https://res.cloudinary.com/dwnjn1x5l/image/upload/v1709625952/1d01d8c4-195c-45e7-a2f1-acac7ba9eba0_ch1nf8.jpg" alt="frenchbeans2" style="width:100%"/></div>
        <div class="imghome"><img src="https://res.cloudinary.com/dwnjn1x5l/image/upload/v1709625955/58fc1535-fca3-4c3a-bfd9-5614bca36566_sgtfah.jpg" alt="frenchbeans3" style="width:100%"/></div>

    </div>
  </div>
</div>
<a href="/about" class="btn btn-outline-dark homebtn">VEMACROPS</a>
<div class="footer gap-4">
  <div class="footer-links">
    <a href="https://www.instagram.com/vemacrops_limited/"><i class="fab fa-instagram"></i></a>
     <a href="https://www.facebook.com/p/Vemacrops-100064876982151/?paipv=0&eav=AfbjwNEDdZ9D_9tXaaf_WRxIPCgd2QDFR3QTDPKk_GbAgyW5GKJ9CBXqfHXzXzrRWXY&_rdr"><i class="fab fa-facebook"></i></a>
    <%# <a href="#"><i class="fab fa-twitter"></i></a> %>
    <%# <a href="#"><i class="fab fa-linkedin"></i></a> %>
  </div>
  <div class="footer-copyright">
    This website is made by Vemacrops Ltd
  </div>
</div
